.title-banner{
    font-family: "Smooch Sans", sans-serif;
    font-weight: 100;
    font-size: 65px;
    margin-bottom: 15px;
    margin-top: 70px;
    text-transform: uppercase;
}

.btn-socialm{
    width: 50px;
}

.botao-destaque{
    background-color: var(--botao-destaque);
    color: var(--branco)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.botao-destaque:hover{
    background-color: var(--secundaria);
}

.botao-icon-left{
    padding-left: 70px;
}

.botao{
    display: flex;
    gap: 10px;
}

.botao-icon-left span.icon-left{
    display: inline-block;
    color: var(--branco);
    background-color: var(--black);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}

.btn-socialm{
    background-color: var(--primaria);
    color: var(--branco);
    padding: 9px 15px!important;
    border-radius: 15px!important;
    font-size: 18px!important;
    margin-right: 10px;
    margin-bottom: 20px;
}

.btn-socialm:hover{
    background-color: var(--hover-botao);
    color: var(--branco);
}

.botao-branco{
    background-color: var(--branco);
    color: var(--blk-absoluto)!important;
    border-radius: 20px;
    box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 1);
    padding: 15px 25px;
    font-size: 20px;
    transition: background-color .3s;
}

.botao-branco.active,
.botao-branco:hover{
    background-color: var(--hover-botao);
    color: var(--branco) !important;
}

.botao-icon .icon{
    display: inline-block;
    color: var(--preto);
    background-color: var(--blk-absoluto);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -9px;
    border-radius: 15px;
    text-align: center;
    padding-top: 9px;
}

.banner-video{
    min-height: 100vh;
}

section .banner{
    width: 100%;
    height: 100vh;
    position: relative;
}

.background-video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.background-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box{
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
}