.caixa-texto-r{
    margin-top: 2.5rem;
    margin-left: 2%;
    z-index: 1;
}

.rodape-contato {
    display: flex;
    flex-direction: column;
}

.empresa {
    background-color: #514f4f;
    color: #ffffff;
    padding: 10px 0px;

    & p {
        margin-left: 190px;
    }
}