.caixa-texto{
    margin-top: 2.5rem;
    margin-left: 2%;
    z-index: 1;
}


.links {
    display: flex;
    flex-direction: column;
    margin-left: 190px;
}

.sobre {
    width: 40%;

    & p {
        width: 100%;
    }
}

.rodape-contato {
    display: flex;
    flex-direction: column;
}

.empresa {
    background-color: #514f4f;
    color: #ffffff;
    padding: 10px 0px;

    & p {
        margin-left: 190px;
    }
}