@import url(./css/banner.css);
@import url(./css/modelos.css);
@import url(./css/sobre.css);

:root {
  --black: #1A1523;         /* Roxo quase preto - fundo principal */
  --branco: #FFFFFF;        /* Branco puro - textos principais */
  --cinza: #D1D1E0;         /* Cinza lilás claro - textos secundários / fundos suaves */
  --blk-absoluto: #000;     /* Preto absoluto - contrastes fortes */

  --primaria: #6C4AB6;      /* Roxo médio - cor principal de identidade */
  --botao-destaque: #553285;/* Roxo escuro - botões principais */
  --hover-botao: #442466;   /* Roxo ainda mais fechado no hover */

  --secundaria: #2D1F46;    /* Roxo profundo - menus, cards, bordas */
  --detalhe: #A992E2;       /* Roxo claro/detalhe - ícones, links, pequenos destaques */
}


.navbar-bg{
    background: linear-gradient(278deg, #1A1523, #2D1F46);
}

.detalhe{
    color: var(--detalhe) !important;
}

.hint-title{
    color: var(--primaria) !important;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text{
    text-align: justify;
    font-size: 17px;
}

a{
    text-decoration: none;
}

.img-logo{
    width: 170px;
    padding: 10px;
}

html, body{
    scroll-behavior: smooth;
    background-color: var(--black);
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
}

.texto-padrao{
    font-weight: 400;
    color: var(--branco);
}

.texto-fraco{
    font-weight: 300;
    color: var(--cinza);
    opacity: 0.8;
}