@import url(./css/header.css);
@import url(./css/banner.css);
@import url(./css/modelos.css);
@import url(./css/sobre.css);

:root{
    --black: #121212;
    --branco: #FFF;
}


html, body{
    scroll-behavior: smooth;
    background-color: var(--black);
    color: var(--branco);
    font-family: "Poppins", sans-serif;
}

.textos{
    color: var(--branco);
}