@import url(./css/banner.css);
@import url(./css/modelos.css);
@import url(./css/sobre.css);

:root{
    --black: #121212;
    --branco: #FFF;
    --cinza: #b4b4b4;
    --blk-absoluto: #000;
    --primaria: #0d0025;
    --botao-destaque: #1a0048;
    --hover-botao: #1a0048c9;
}

.img-logo{
    width: 170px;
    padding: 10px;
}

html, body{
    scroll-behavior: smooth;
    background-color: var(--branco);
    color: var(--black);
    font-family: "Poppins", sans-serif;
}

.texto-padrao{
    font-weight: 400;
    color: var(--branco);
}

.texto-fraco{
    font-weight: 300;
    color: var(--cinza);
    opacity: 0.8;
}